<form action="../auth/login" method="post">
    <label htmlFor="email">Email:</label>
    <input type="text" name="email" id="">

    <label htmlFor="password">Password:</label>
    <input type="text" name="password" id="">

    <input type="submit" value="Submit">
</form>