{{>navbar user=user}}

{{#if check}}
    <form action="/../profile" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" />
      <input type="submit" value="Upload image"/>
    </form>
{{/if}}

<h1>{{email}}</h1>
<h1>{{name}}</h1>