<form action="/auth/signin" method="post">
    <label htmlFor="email">Email:</label>
    <input type="text" name="email">

    <label htmlFor="password">Password:</label>
    <input type="text" name="password">

    <label htmlFor="name">Name:</label>
    <input type="text" name="name">

    <label htmlFor="address">Address:</label>
    <input type="text" name="address" id="">

    <label htmlFor="age">Age:</label>
    <input type="number" name="age" id="">

    <label htmlFor="prefix">Phone prefix:</label>
    <input type="number" name="prefix" id="">

    <label htmlFor="phone">Phone number:</label>
    <input type="number" name="phone" id="">

    <input type="submit" value="Submit">
</form>