<form action="/auth/signin" method="post">
<input type="text" name="email" placeholder="email">
<input type="text" name="username" placeholder="user">
<input type="text" name="password" placeholder="pass">
<input type="submit" value="Submit">
</form>